.triangle {
    position: absolute;
    bottom: 100%;
    &_fill_white {
        fill: #f4f5f0;
        
        /* ;) */
        @include tab {
            fill: $begie;
        }
    }
    &_fill_begie {
        fill: $begie;
    }
    
}
.dubletriangle {
    position: absolute;
    bottom: 100%;
    fill: $white;
}