extends ../template
include ../modules/mixins.pug

block variables
  - var title = 'About me'
  - var pageName = 'about'

block content
  include ../modules/water
  section.section.top
    header.top__header
      .top__socials
        include ../modules/socials
      .top__hamburger-menu
        include ../modules/hamburger-menu
    .top__content
      .top__title
        svg(width='100' height='100').section-picture.section-picture_top
          use(xlink:href=`images/sprite/mySprite.min.svg#portfolio_header`)
        .top__whoami
          include ../modules/person
    .top__bottom
      button.arrow-down
        svg.arrow-down__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
  section.section.about
    svg.triangle.triangle_fill_begie(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='0,0 0,100 500,100')
    svg.triangle.triangle_fill_white(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='500,100 1000,0 1000,100')
    .about__left  
      .about__title
        svg(width='100' height='100').section-picture
          use(xlink:href=`images/sprite/mySprite.min.svg#about_header`)
        .section-title.section-title_about About me
      .about__i-am
        img(src="images/photos/yaroslav-kryvda.jpg", alt="photo").i-am__photo
        .i-am__title  
          .section-title.section-title_i-am Who am I ?
        .i-am__discription
          p I am 28 years old. I live and work in Vinnytsia, Ukraine. Frontend developer and photographer.
          p From 2010 to 2015 I had been working as a programmer in the service center for the repair of mobile gadgets. After that I discovered the WEB development and decided to change my interests. I have been working as a front-end developer and I really like this for the last 2.5 years.
          p I love to travel and take pictures. I take pictures of people, nature and the beautiful moments that will catch the beautiful moments on my camera.

    .about__right
      
      .about__usefulness
        .usefulness
          .usefulness__title
            .section-title.section-title_usefulness what can I do for you?
          .usefulness__discription
            p My current passion is FRONT-END development. 


      .skills__group
        .group__title Frontend
        +pie_chart("Html 5 & CSS 3",87)
        +pie_chart("Js & Jquery",55)
        +pie_chart("Less & Sass/Scss",70)
        +pie_chart("BEM",70)
        +pie_chart("Bootstrap 3/4",80)
        +pie_chart("FLEXBOX",80)
        +pie_chart("CSS GRIDS",40)

      .skills__group
        .group__title Backend
        +pie_chart("Php",10)
        +pie_chart("MySql",15)
        +pie_chart("Mongo.db",5)

      .skills__group
        .group__title Workflow
        +pie_chart("Webpack",68)
        +pie_chart("Gulp",70)
        +pie_chart("Yarn",78)
        +pie_chart("GIT",69)
        +pie_chart("Node.js & npm",45)
        +pie_chart("Terminal",55)
        +pie_chart("Bower",20)

      .skills__group
        .group__title CMS
        +pie_chart("Wordpress",45)
        +pie_chart("MODX",40)
        +pie_chart("OpenCart",40)
        +pie_chart("Joomla",20)
        +pie_chart("Beard and mustache",10)

  section.section.map
    #map
    .map__contacts
      .contacts
        .contacts__title
          .section-title.section-title_contacts Contacts
        ul.contacts__list
          - 
            var contacts = [
            {logo: 'skype', name: 'yarik890105' },
            {logo: 'envelope2', name: 'yaroslavkryvda@gmail.com' },
            //- {logo: 'phone2', name: '+38 096 919 99 55' },
            {logo: 'map_marker', name: 'Ukraine, Vinnytsia' }
            ]
          each item in contacts
            li.contacts__item
              svg.contacts__icon(width=`24` height=`24`)
                use(xlink:href=`images/sprite/mySprite.min.svg#${item.logo}`)
              .contacts__name #{item.name}

    footer.footer
      .footer__row
        .footer__col
          .footer__text This is my personal site.
        .footer__col
          .footer__menu
            - 
              var menu = [
                  {name: 'Home', href:'index.html'},
                  {name:'Portfolio',href: 'works.html'},
                  {name:'About',href: 'about.html'}
                  //- {name:'Blog',href: 'blog.html'}
              ]
            
            +menu('menu', menu)
          .footer__socials
            include ../modules/socials
        .footer__col
          .footer__quote Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. Code for readability.
          .footer__quote-author — Martin Golding 
      .footer__row.footer__row_fill_green
        .author © Yaroslav Kryvda| Front-end developer | 2017
  
  
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxxZqzF80hXY_JqmWpdGliR9OG45V5WrM&callback=initMap"
  type="text/javascript")
  script(src=`./scripts/${pageName}.min.js`)
