extends ../template
include ../modules/mixins.pug

block variables
  - var title = 'Blog'
  - var pageName = 'blog'
block content
  include ../modules/water
  section.section.top
    header.top__header
      .top__socials
        include ../modules/socials
      .top__hamburger-menu
        include ../modules/hamburger-menu
    .top__content
      .top__title  
        svg(width='100' height='100').section-picture.section-picture_top
          use(xlink:href=`images/sprite/mySprite.min.svg#portfolio_header`)
        .top__person
          include ../modules/person
    .top__bottom
      button.arrow-down
        svg.arrow-down__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
  section.section.blog
    svg.dubletriangle(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='0,100 0,0 500,100 500,100 1000,0 1000,100')
    .blog__container
      aside.blog__navigation
        button.blog__navigation-toggle
          span.fa.fa-chevron-right
        .blog__navigation-box
          ul.blog__navigation-links-list
            li.links-list__item
              a(href="#article-0").links-list__link Самое важное в Sass
            li.links-list__item
              a(href="#article-1").links-list__link Приёмы в вёрстке, без которых не обходится ни один сайт
            li.links-list__item
              a(href="#article-2").links-list__link Самый необходимый набор Gulp плагинов
      section.blog__content
        article#article-0.article
          h3.article__title Самое важное в Sass
          p.article__date 17 сентября 2017
          .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        article#article-1.article
          h3.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
          p.article__date 17 сентября 2017
          .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

        article#article-2.article
          h3.article__title Самый необходимый набор Gulp плагинов
          p.article__date 17 сентября 2017
          .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.




    footer.footer
      .footer__row
        .footer__col
          .footer__text This is my personal site.
        .footer__col
          .footer__menu
            - 
              var menu = [
                  {name: 'Home', href:'index.html'},
                  {name:'Works',href: 'works.html'},
                  {name:'About',href: 'about.html'},
                  {name:'Blog',href: 'blog.html'}
              ]
            
            +menu('menu', menu)
          .footer__socials
            include ../modules/socials
        .footer__col
          .footer__quote Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live. Code for readability.
          .footer__quote-author — Martin Golding 
      .footer__row.footer__row_fill_green
        .author © Yaroslav Kryvda | Front-end developer | 2017
block scripts
  script(src=`./scripts/${pageName}.min.js`)