extends ../template
include ../modules/mixins.pug

block variables
  - var title = 'Мои работы'
  - var pageName = 'works'
  - 
    var sl = [
      {title: 'Сайт 1', skills: 'HTML , CSS, JAVASCRIPT',photo:'./images/myWorks/work-1.png', link:'#'},
      {title: 'Сайт 2', skills: 'HTML , CSS, JAVASCRIPT',photo:'./images/myWorks/work-2.png', link:'#'},
      {title: 'Сайт 3', skills: 'HTML , CSS, JAVASCRIPT',photo:'./images/myWorks/work-3.png', link:'#'},
      {title: 'Сайт 4', skills: 'HTML , CSS, JAVASCRIPT',photo:'./images/myWorks/work-4.png', link:'#'},
    ]          
  
block content
  include ../modules/water
  section.section.top
    header.top__header
      .top__socials
        include ../modules/socials
      .top__hamburger-menu
        include ../modules/hamburger-menu
    .top__content
      .top__title  
        svg(width='100' height='100').section-picture.section-picture_top
          use(xlink:href=`images/sprite/mySprite.min.svg#portfolio_header`)
        .top__person
          include ../modules/person
    .top__bottom
      button.arrow-down
        svg.arrow-down__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
  section.section.works
    svg.dubletriangle(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='0,100 0,0 500,100 500,100 1000,0 1000,100')
    .works__title
      .section-title.section-title_works Мои работы
      svg(width='100' height='100').section-picture
        use(xlink:href=`images/sprite/mySprite.min.svg#works_header`)

    //- слайдер
  section.section.slider
    .slider__discription.description-sl
      .description-sl__container
        .description-sl__title Сайт школы онлайн образования
          //- .section-title.section-title_description-sl Сайт школы онлайн образования
        .description-sl__skills HTML , CSS, JAVASCRIPT
        a(href='').description-sl__link
          svg.description-sl__icon(width=`20` height=`19`)
            use(xlink:href=`images/sprite/mySprite.min.svg#link`)
          .description-sl__text Посмотреть сайт
    //- слайдер для фотографий проектов
    .slider__photos
      ul.photos-sl
        each item in sl
          li.photos-sl__item
            .photos-sl__slide(style=`background-image: url(${item.photo})`)
    //- слайер для кнопок
    .slider__nav-btns.nav-btns
      //- кнопка предыдущий
      .nav-btns__sl-btn.nav-btns__sl-btn_fill_prev
        ul.sl-btn__list
          each item in sl
            li.sl-btn__item
              .sl-btn__slide(style=`background-image: url(${item.photo})`)
        svg.sl-btn__btn(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
      //- кнопка следующий
      .nav-btns__sl-btn.nav-btns__sl-btn_fill_next
        ul.sl-btn__list
          each item in sl
            li.sl-btn__item
              .sl-btn__slide(style=`background-image: url(${item.photo})`)    
        svg.sl-btn__btn(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#portf_arrow_up`)
  section.section.feedback
    .feedback__title
      .section-title.section-title_feedback Что обо мне говорят
      svg(width='100' height='100').section-picture
        use(xlink:href=`images/sprite/mySprite.min.svg#about_header`)
    .feedback__reviews.reviews
      ul.reviews__list
        li.reviews__item
          .reviews__photo-container
            img(src="images/photos/kovalchyuk.jpg", alt="reviews-photo").reviews__photo
          .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__author
            .reviews__author-name Ковальчук Дмитрий
            .reviews__author-status — основатель Loftschool
        li.reviews__item
          .reviews__photo-container
            img(src="images/photos/sabyantcev.jpg", alt="reviews-photo").reviews__photo
          .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .reviews__author
            .reviews__author-name Сабанцев Владимир
            .reviews__author-status — преподаватель
        
    .feedback__form
      form(action="").feedback-form
        .feedback-form__row.feedback-form__title
            .section-title.section-title_feedback-form Связаться со мной
        .feedback-form__row
          input(type="text" placeholder='Имя').feedback-form__input
          .feedback__pop-up Вы не ввели имя
        .feedback-form__row
          input(type="email" placeholder='Email').feedback-form__input
          .feedback__pop-up Не корректный email
        .feedback-form__row  
          textarea(placeholder='Ваше сообщение').feedback-form__textarea
        .feedback-form__row.feedback-form__row-btn 
          input(type="submit" value='Отправить').feedback-form__btn 
          input(type="reset" value='Очистить').feedback-form__btn 
    .feedback__bottom.arrow-up
      button.arrow-up__btn
        svg.arrow-up__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#portf_arrow_up`)
          
    footer.footer
      .footer__row
        .footer__col
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__col
          .footer__menu
            - 
              var menu = [
                  {name: 'Главная страница', href:'index.html'},
                  {name:'работы',href: 'works.html'},
                  {name:'Обо мне',href: 'about.html'},
                  {name:'Блог',href: 'blog.html'}
              ]
            
            +menu('menu', menu)
          .footer__socials
            include ../modules/socials
        .footer__col
          .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
          .footer__quote-author — Martin Golding 
      .footer__row.footer__row_fill_green
        .author © Кривда Ярослав | Front-end developer | 2017
block scripts
  script(src=`./scripts/${pageName}.min.js`)