$mobile: 480px;
$tablets: 768px;
$desktop: 1024px;
$large: 1200px;

$white: #ffffff;
$green: #6c9d5a;
$green-: #6c9d5a;
$green-hover: #4e8839;
$dark-grey: #c5ccce;
$grey: #f6f6f6;
$black: #122620;
$red: #e44845;
$title-color: #566358;
$begie: #ebefe2;

$black-transparent: rgba(18,38,32,.6);